@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::selection {
	background: rgb(0, 123, 255, 0.3);
}
.content {
	max-width: 1550px;
	margin: auto;
	padding: 0px 30px;
}
.navbar {
	position: fixed;
	z-index: 5;
	width: 100%;
	padding: 25px 0;
	transition: all 0.3s ease;
}
.navbar.sticky {
	padding: 10px 0;
	background: #2b1505fb;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
}
.header-logo {
	display: none;
}
.item.button.logout{
	margin-left: 0;
	padding-left: 0;
}
.navbar .menu-list {
	display: inline-flex;
}
.link-view-profile{
	display: none;
}
.menu-list li {
	list-style: none;
}
.menu-list li a:not(.logout){
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	transition: all 0.3s ease;
	padding: 5px 15px;
}
.menu-list li a:hover {
	color: #3b1f0a;
	background-color: #fff;
	border-radius: 50px;
}
.menu-list li p {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	transition: all 0.3s ease;
	padding: 0px 15px;
}
.icon {
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	display: none;
}
.icon.cancel-btn {
	position: absolute;
	right: 30px;
	top: 20px;
}
.navbar.sticky .icon.cancel-btn {
	top: 10px;
}
@media (max-width: 1320px) {
	.content {
		padding: 0 60px;
	}
}

@media (max-width: 1100px) {
	.content {
		padding: 0 60px;
	}
}

@media (max-width: 1000px) {
	.content {
		padding: 0 60px;
	}
}

@media (max-width: 900px) {
	.content {
		padding: 0 50px;
	}
}

/* Tablet Menu */

@media (max-width: 868px) {
	body.disabledScroll {
		overflow: hidden;
	}
	.icon {
		display: block;
		height: 40px;
		width: 50px;
		text-align: center;
		border-radius: 50%;
		z-index: 9;
		margin-top: 13px;
		margin-right: -20px;
		border: none;
	}
	.icon.cancel-btn {
		display: none;
	}
	.icon.cancel-btn.show {
		display: block;
	}
	.icon.hide {
		display: none;
	}
	.navbar .menu-list {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background: #3b1f0afb;
		border: none;
		display: block;
		padding: 40px 0;
		text-align: start;
		clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
		transition: all 0.3s ease;
	}
	.navbar.sticky .menu-list {
		clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
	}
	.navbar .menu-list.active {
		clip-path: circle(75%);
	}
	.navbar .menu-list li {
		margin-top: 45px;
	}
	.navbar .menu-list li a {
		font-size: 23px;
		color: #ffffff;
		margin-left: 15%;
	}
}

@media (max-width: 900px) {
	.navbar .logo a {
		color: #fff;
		font-size: 26px;
	}
}

/* Large mobile Menu */

@media (max-width: 550px) {
	.navbar .logo a {
		font-size: 24px;
	}
	.navbar {
		padding: 28px 0;
	}
}

@media (max-width: 450px) {
	.navbar .logo a {
		font-size: 20px;
	}
	.navbar {
		padding: 26px 0;
	}
}

@media (max-width: 380px) {
	.navbar .logo a {
		font-size: 20px;
	}
	.navbar {
		padding: 24px 0;
	}
}


@media (max-width: 360px) {
	.navbar .logo a {
		font-size: 18px;
	}
}

@media (max-width: 320px) {
	.navbar .logo a {
		font-size: 16px;
	}
}

/* Small mobile Menu */

@media (max-width: 300px) {
	.navbar .logo a {
		font-size: 16px;
	}
}

@media (max-width: 290px) {
	.navbar .logo a {
		font-size: 12px;
	}

}
