
tbody {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 1px;
    text-align: center;
    margin: 20px;
}
tbody tr:nth-child(2){
    background-color: rgb(193, 193, 193);
}
tbody tr:nth-child(2) td{
    color: black;
}
tbody tr:nth-child(3),
tbody tr:nth-child(4),
tbody tr:nth-child(5),
tbody tr:nth-child(6),
tbody tr:nth-child(7){
    background-color: rgb(44, 172, 74);
}
tr td[Sun],
tr td[Mon],
tr td[Tue],
tr td[Wed],
tr td[Thu],
tr td[Fri],
tr td[Sat]{
    color: rgb(0, 0, 0);
}
tr{
    padding: 0;
    margin: 0;
}
td {
    display: table-cell;
    vertical-align: inherit;
    color: white;
    width: 75px;
    height: 50px;
}
td a {
    color: rgb(255, 255, 255);
    background-color: red;
    text-decoration: none;
    cursor: pointer;
    width: 75px;
    height: 50px;
}
th{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    color: white;
}
a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
td a:-webkit-any-link {
    text-decoration: none;
}
a,td {
    padding: 10px;
}