body{
	background-color: #fafafa;
	margin: 0;
	padding: 0;
}
.container-box {
	padding: 75px 175px;
	width: 80%;
	margin: 0 auto;
}

.tr-hair-style {
	display: flex;
	justify-content: center;
	padding: 20px 3%;
}

.i-hair-style {
	width: 350px;
	padding: 10px;
}

.p-hair-style {
	line-height: 12pt;
	text-align: right;
}

.name-hair-style {
	font-size: 24px;
	font-weight: 600;
}

.detail1-hair-style,
.detail2-hair-style,
.detail3-hair-style {
	font-size: 18px;
}

.about{
	padding: 40px 0;
  }
  .about .title{
	font-size: 35px;
	font-weight: 700;
  }
  .about p{
	padding-top: 20px;
	text-align: justify;
  }
@media (max-width: 1100px) {
	.content {
		padding: 0 40px;
	}
}


@media (max-width: 900px) {
	.content {
		padding: 0 30px;
	}
}
.content {
	max-width: 1250px;
	margin: auto;
	padding: 0 30px;
}
.about {
	padding: 30px 0;
}
.about .title-hairstyle {
	font-size: 30px;
	font-weight: 700;
}
.about p {
	padding-top: 20px;
	text-align: justify;
}
.hairstyle{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.img-hairstyle{
    max-height: 300px;
    padding: 5px;
}
.img-hairstyle.img1-4{
    max-height: 150px;
    position: relative;
    top: 150px;
}
.booking-link{
	font-size: 20px;
	color: #f1f1f1;
	font-weight: 500;
	background-color: #1b1b1b;
	text-decoration: none;
	padding: 5px 25px;
	border-radius: 50px;
}

/* popup */
