* {
	margin: 0;
	padding: 0;
}
.banner {
	height: 10vh;
}
.banner-container {
	padding: 60px 30px;
	display: flex;
	margin: auto;
	width: 80%;
	height: 400px;
}
.banner-container-logo {
	display: none;
}
.banner-left {
	display: flexbox;
	width: 50%;
}
.banner-right {
	width: 50%;
}
.banner-text {
	margin-top: -150px;
	margin-bottom: 15px;
	font-size: 28px;
	color: #f1f1f1;
	padding: 250px 0 0 10%;
}
.banner-link {
	font-size: 20px;
	color: #1b1b1b;
	font-weight: 700;
	background-color: #f1f1f1;
	text-decoration: none;
	padding: 5px 25px;
	border-radius: 50px;
	margin-left: 10%;
}
.banner-logo {
	width: 65.5%;
	margin: 5% 0 0 23%;
}

@media (max-width: 1350px) {
	.banner-logo {
		width: 67.5%;
		margin: 6% 0 20px 36%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 24px;
		color: #f1f1f1;
		padding: 250px 0 0 10%;
	}
	.banner-link {
		font-size: 20px;
		color: #1b1b1b;
		font-weight: bold;
		background-color: #f1f1f1;
		text-decoration: none;
		padding: 5px 25px;
		border-radius: 50px;
		margin-left: 10%;
	}
}

@media (max-width: 1150px) {
	.banner-logo {
		width: 67.5%;
		margin: 7% 0 20px 37%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 22px;
		color: #f1f1f1;
		padding: 250px 0 0 5%;
	}
	.banner-link {
		font-size: 18px;
		color: #1b1b1b;
		font-weight: bold;
		background-color: #f1f1f1;
		text-decoration: none;
		padding: 5px 25px;
		border-radius: 50px;
		margin-left: 5%;
	}
}
@media (max-width: 1090px) {
	.banner-logo {
		width: 67.5%;
		margin: 8% 0 20px 38%;
	}
}

@media (max-width: 1000px) {
	.banner-logo {
		width: 67.5%;
		margin: 9% 0 20px 39%;
	}
}
@media (max-width: 900px) {
	.banner-logo {
		width: 67.5%;
		margin: 10% 0 20px 40%;
	}
}

/* Tablet Menu */

@media (max-width: 868px) {
	.banner-logo {
		width: 75.5%;
		margin: 11% 0 20px 41%;
	}
}

@media (max-width: 750px) {
	.banner-logo {
		width: 78.5%;
		margin: 11% 0 20px 41%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 19px;
		color: #f1f1f1;
		padding: 220px 0 0 5%;
	}
	.banner-link {
		font-size: 15px;
		color: #1b1b1b;
		font-weight: bold;
		background-color: #f1f1f1;
		text-decoration: none;
		padding: 5px 25px;
		border-radius: 50px;
		margin-left: 5%;
	}
}

@media (max-width: 630px) {
	.banner-logo {
		width: 88%;
		margin: 10% 0 20px 33%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 19px;
		color: #f1f1f1;
		padding: 210px 0 0 5%;
	}
}

@media (max-width: 585px) {
	.banner-logo {
		width: 90%;
		margin: 10% 0 20px 33%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 18px;
		color: #f1f1f1;
		padding: 200px 0 0 5%;
	}
	.banner-link {
		font-size: 15px;
		color: #1b1b1b;
		font-weight: bold;
		background-color: #f1f1f1;
		text-decoration: none;
		padding: 3px 15px;
		border-radius: 50px;
		margin-left: 5%;
	}
}
@media (max-width: 485px) {
	.banner-logo {
		width: 90%;
		margin: 10% 0 20px 33%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 15px;
		color: #f1f1f1;
		padding: 200px 0 0 5%;
	}
	.banner-link {
		font-size: 13px;
		color: #1b1b1b;
		font-weight: bold;
		background-color: #f1f1f1;
		text-decoration: none;
		padding: 3px 15px;
		border-radius: 50px;
		margin-left: 5%;
	}
}

@media (max-width: 425px) {
	.banner-logo {
		width: 93%;
		margin: 10% 0 20px 33%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 13px;
		color: #f1f1f1;
		padding: 180px 0 0 5%;
	}
	.banner-link {
		font-size: 10px;
		color: #1b1b1b;
		font-weight: bold;
		background-color: #f1f1f1;
		text-decoration: none;
		padding: 3px 15px;
		border-radius: 50px;
		margin-left: 5%;
	}
}
@media (max-width: 380px) {
	.banner-logo {
		display: none;
	}
	.banner-text {
		display: none;
	}
	.banner-link {
		display: none;
	}
	.banner-container-logo {
		display: block;
		width: 170px;
		height: 120px;
		margin: 7.5% 25%;
	}
}
@media (max-width: 380px) {
	.banner-container-logo {
		display: none;
	}
}
